$icomoon-font-family: "osm" !default;
$icomoon-font-path: "fonts" !default;

$osm-alert-triangle: unquote('"\\ea93"');
$osm-location_on: unquote('"\\ea8b"');
$osm-place: unquote('"\\ea8b"');
$osm-room: unquote('"\\ea8b"');
$osm-baby_goods: unquote('"\\ea8e"');
$osm-subway: unquote('"\\ea83"');
$osm-subway_entrance: unquote('"\\ea83"');
$osm-uniEA8F_osm: unquote('"\\ea90"');
$osm-uniEA90_osm: unquote('"\\ea91"');
$osm-uniEA91_osm: unquote('"\\ea92"');
$osm-post_jp: unquote('"\\e90c"');
$osm-post: unquote('"\\e90e"');
$osm-racetrack_boat: unquote('"\\e90f"');
$osm-racetrack_cycling: unquote('"\\e910"');
$osm-racetrack_horse: unquote('"\\e971"');
$osm-racetrack: unquote('"\\ea05"');
$osm-rail_light: unquote('"\\ea06"');
$osm-rail_metro: unquote('"\\ea07"');
$osm-rail: unquote('"\\ea08"');
$osm-railway: unquote('"\\ea08"');
$osm-ranger_station: unquote('"\\ea09"');
$osm-religious_buddhist: unquote('"\\ea0a"');
$osm-religious_christian: unquote('"\\ea0b"');
$osm-christian: unquote('"\\ea0b"');
$osm-religious_jewish: unquote('"\\ea0c"');
$osm-jewish: unquote('"\\ea0c"');
$osm-religious_muslim: unquote('"\\ea0d"');
$osm-muslim: unquote('"\\ea0d"');
$osm-religious_shinto: unquote('"\\ea0e"');
$osm-shinto: unquote('"\\ea0e"');
$osm-residential_community: unquote('"\\ea0f"');
$osm-restaurant_bbq: unquote('"\\ea10"');
$osm-restaurant_noodle: unquote('"\\ea11"');
$osm-restaurant_pizza: unquote('"\\ea12"');
$osm-restaurant_seafood: unquote('"\\ea13"');
$osm-restaurant_sushi: unquote('"\\ea14"');
$osm-road_accident: unquote('"\\ea15"');
$osm-roadblock: unquote('"\\ea16"');
$osm-rocket: unquote('"\\ea17"');
$osm-hackerspace: unquote('"\\ea17"');
$osm-school_jp: unquote('"\\ea18"');
$osm-scooter: unquote('"\\ea19"');
$osm-shoe: unquote('"\\ea1a"');
$osm-shop: unquote('"\\ea1b"');
$osm-skateboard: unquote('"\\ea1c"');
$osm-skiing: unquote('"\\ea1d"');
$osm-slaughterhouse: unquote('"\\ea1e"');
$osm-snowmobile: unquote('"\\ea1f"');
$osm-soccer: unquote('"\\ea20"');
$osm-square_stroked: unquote('"\\ea21"');
$osm-square: unquote('"\\ea22"');
$osm-stadium: unquote('"\\ea23"');
$osm-star_stroked: unquote('"\\ea24"');
$osm-star: unquote('"\\ea25"');
$osm-suitcase: unquote('"\\ea26"');
$osm-swimming: unquote('"\\ea27"');
$osm-table_tennis: unquote('"\\ea28"');
$osm-teahouse: unquote('"\\ea29"');
$osm-tennis: unquote('"\\ea2a"');
$osm-toilet: unquote('"\\ea2b"');
$osm-town: unquote('"\\ea2c"');
$osm-triangle_stroked: unquote('"\\ea2d"');
$osm-triangle: unquote('"\\ea2e"');
$osm-village: unquote('"\\ea2f"');
$osm-volcano: unquote('"\\ea30"');
$osm-volleyball: unquote('"\\ea31"');
$osm-warehouse: unquote('"\\ea32"');
$osm-aerialway: unquote('"\\ea33"');
$osm-airfield: unquote('"\\ea34"');
$osm-airport: unquote('"\\ea35"');
$osm-alcohol_shop: unquote('"\\ea36"');
$osm-american_football: unquote('"\\ea37"');
$osm-amusement_park: unquote('"\\ea38"');
$osm-theme_park: unquote('"\\ea38"');
$osm-aquarium: unquote('"\\ea39"');
$osm-arrow: unquote('"\\ea3a"');
$osm-art_gallery: unquote('"\\ea3b"');
$osm-attraction: unquote('"\\ea3c"');
$osm-bank_jp: unquote('"\\ea3d"');
$osm-barrier: unquote('"\\ea3e"');
$osm-baseball: unquote('"\\ea3f"');
$osm-basketball: unquote('"\\ea40"');
$osm-beach: unquote('"\\ea41"');
$osm-beer: unquote('"\\ea42"');
$osm-bicycle_share: unquote('"\\ea43"');
$osm-blood_bank: unquote('"\\ea44"');
$osm-bridge: unquote('"\\ea45"');
$osm-building_alt1: unquote('"\\ea46"');
$osm-building: unquote('"\\ea47"');
$osm-bus: unquote('"\\ea48"');
$osm-campsite1: unquote('"\\ea49"');
$osm-car_rental: unquote('"\\ea4a"');
$osm-castle_jp: unquote('"\\ea4b"');
$osm-caution: unquote('"\\ea4c"');
$osm-cemetery_jp: unquote('"\\ea4d"');
$osm-cemetery: unquote('"\\ea4e"');
$osm-circle_stroked: unquote('"\\ea4f"');
$osm-circle: unquote('"\\ea50"');
$osm-city: unquote('"\\ea51"');
$osm-clothing_store: unquote('"\\ea52"');
$osm-college_jp: unquote('"\\ea53"');
$osm-commercial: unquote('"\\ea54"');
$osm-construction: unquote('"\\ea55"');
$osm-cricket: unquote('"\\ea56"');
$osm-dam: unquote('"\\ea57"');
$osm-danger: unquote('"\\ea58"');
$osm-defibrillator: unquote('"\\ea59"');
$osm-diamond: unquote('"\\ea5a"');
$osm-doctor: unquote('"\\ea5b"');
$osm-dog_park: unquote('"\\ea5c"');
$osm-elevator: unquote('"\\ea5d"');
$osm-entrance_alt1: unquote('"\\ea5e"');
$osm-farm: unquote('"\\ea5f"');
$osm-fence: unquote('"\\ea60"');
$osm-ferry_jp: unquote('"\\ea61"');
$osm-fire_station_jp: unquote('"\\ea62"');
$osm-fire_station: unquote('"\\ea63"');
$osm-fitness_centre: unquote('"\\ea64"');
$osm-gaming: unquote('"\\ea65"');
$osm-garden: unquote('"\\ea66"');
$osm-globe: unquote('"\\ea67"');
$osm-diplomatic: unquote('"\\ea67"');
$osm-harbor: unquote('"\\ea68"');
$osm-hardware: unquote('"\\ea69"');
$osm-heart: unquote('"\\ea6a"');
$osm-heliport: unquote('"\\ea6b"');
$osm-highway_rest_area: unquote('"\\ea6c"');
$osm-home: unquote('"\\ea6d"');
$osm-horse_riding: unquote('"\\ea6e"');
$osm-hospital_jp: unquote('"\\ea6f"');
$osm-hot_spring: unquote('"\\ea70"');
$osm-industry: unquote('"\\ea71"');
$osm-jewelry_store: unquote('"\\ea72"');
$osm-karaoke: unquote('"\\ea73"');
$osm-landmark_jp: unquote('"\\ea74"');
$osm-landmark: unquote('"\\ea75"');
$osm-landuse: unquote('"\\ea76"');
$osm-lighthouse_jp: unquote('"\\ea77"');
$osm-lodging: unquote('"\\ea78"');
$osm-logging: unquote('"\\ea79"');
$osm-marker_stroked: unquote('"\\ea7a"');
$osm-marker: unquote('"\\74"');
$osm-monument_jp: unquote('"\\ea7c"');
$osm-mountain: unquote('"\\ea7d"');
$osm-natural: unquote('"\\ea7e"');
$osm-observation_tower: unquote('"\\ea7f"');
$osm-park_alt1: unquote('"\\ea80"');
$osm-parking_garage: unquote('"\\ea81"');
$osm-picnic_site: unquote('"\\ea82"');
$osm-police_jp: unquote('"\\ea84"');
$osm-border_control: unquote('"\\ea8f"');
$osm-climbing: unquote('"\\ea85"');
$osm-perfumery: unquote('"\\e900"');
$osm-pet: unquote('"\\e901"');
$osm-pharmacy: unquote('"\\e902"');
$osm-photo: unquote('"\\e903"');
$osm-picnic: unquote('"\\e904"');
$osm-place_of_worship: unquote('"\\e905"');
$osm-plaque: unquote('"\\e906"');
$osm-playground: unquote('"\\e907"');
$osm-police: unquote('"\\e908"');
$osm-post_box: unquote('"\\e909"');
$osm-post_office: unquote('"\\e90a"');
$osm-power_tower_small: unquote('"\\e90b"');
$osm-power_tower: unquote('"\\e90d"');
$osm-prison: unquote('"\\e911"');
$osm-pub: unquote('"\\e912"');
$osm-public_bath: unquote('"\\e913"');
$osm-public_bookcase: unquote('"\\e914"');
$osm-public_transport_tickets: unquote('"\\e915"');
$osm-recycling: unquote('"\\e916"');
$osm-rental_bicycle: unquote('"\\e917"');
$osm-rental_car: unquote('"\\e918"');
$osm-restaurant: unquote('"\\e919"');
$osm-saddle: unquote('"\\e91a"');
$osm-sauna: unquote('"\\e91b"');
$osm-school: unquote('"\\e91c"');
$osm-seafood: unquote('"\\e91d"');
$osm-second_hand: unquote('"\\e91e"');
$osm-shelter: unquote('"\\e91f"');
$osm-shoes: unquote('"\\e920"');
$osm-shower: unquote('"\\e921"');
$osm-shrine: unquote('"\\e922"');
$osm-slipway: unquote('"\\e923"');
$osm-social_facility: unquote('"\\e924"');
$osm-sports: unquote('"\\e925"');
$osm-pitch: unquote('"\\e925"');
$osm-spring: unquote('"\\e926"');
$osm-stationery: unquote('"\\e927"');
$osm-statue: unquote('"\\e928"');
$osm-stone: unquote('"\\e929"');
$osm-rock: unquote('"\\e929"');
$osm-storage_tank: unquote('"\\e92a"');
$osm-supermarket: unquote('"\\e92b"');
$osm-mall: unquote('"\\e92b"');
$osm-symbol-arch: unquote('"\\e92c"');
$osm-symbol-backslash: unquote('"\\e92d"');
$osm-symbol-bar: unquote('"\\e92e"');
$osm-symbol-circle: unquote('"\\e92f"');
$osm-symbol-corner: unquote('"\\e930"');
$osm-symbol-cross: unquote('"\\e931"');
$osm-symbol-diamond_line: unquote('"\\e932"');
$osm-symbol-diamond: unquote('"\\e933"');
$osm-symbol-dot: unquote('"\\e934"');
$osm-symbol-fork: unquote('"\\e935"');
$osm-symbol-hexagon: unquote('"\\e936"');
$osm-symbol-hiker: unquote('"\\e937"');
$osm-symbol-lower: unquote('"\\e938"');
$osm-symbol-pointer: unquote('"\\e939"');
$osm-symbol-rectangle_line: unquote('"\\e93a"');
$osm-symbol-rectangle: unquote('"\\e93b"');
$osm-symbol-right: unquote('"\\e93c"');
$osm-symbol-shell_modern: unquote('"\\e93d"');
$osm-symbol-shell: unquote('"\\e93e"');
$osm-symbol-slash: unquote('"\\e93f"');
$osm-symbol-stripe: unquote('"\\e940"');
$osm-symbol-triangle_line: unquote('"\\e941"');
$osm-symbol-triangle_turned: unquote('"\\e942"');
$osm-symbol-triangle: unquote('"\\e943"');
$osm-symbol-turned_t: unquote('"\\e944"');
$osm-symbol-wheel: unquote('"\\e945"');
$osm-symbol-x: unquote('"\\e946"');
$osm-taxi: unquote('"\\e947"');
$osm-tea: unquote('"\\e948"');
$osm-telephone: unquote('"\\e949"');
$osm-phone: unquote('"\\e949"');
$osm-telescope_dish: unquote('"\\e94a"');
$osm-telescope_dome: unquote('"\\e94b"');
$osm-terminal: unquote('"\\e94c"');
$osm-theatre: unquote('"\\e94d"');
$osm-tobacco: unquote('"\\e94e"');
$osm-e-cigarette: unquote('"\\e94e"');
$osm-toilets: unquote('"\\e94f"');
$osm-tower_cantilever_communication: unquote('"\\e950"');
$osm-tower_cooling: unquote('"\\e951"');
$osm-tower_defensive: unquote('"\\e952"');
$osm-tower_dish: unquote('"\\e953"');
$osm-tower_dome: unquote('"\\e954"');
$osm-tower_generic: unquote('"\\e955"');
$osm-tower_lattice_communication: unquote('"\\e956"');
$osm-tower_lattice_lighting: unquote('"\\e957"');
$osm-tower_lattice: unquote('"\\e958"');
$osm-tower_lighting: unquote('"\\e959"');
$osm-tower_observation: unquote('"\\e95a"');
$osm-town_hall: unquote('"\\e95b"');
$osm-toys: unquote('"\\e95c"');
$osm-model: unquote('"\\e95c"');
$osm-trade: unquote('"\\e95d"');
$osm-travel_agency: unquote('"\\e95e"');
$osm-tyres: unquote('"\\e95f"');
$osm-variety_store: unquote('"\\e960"');
$osm-vehicle_inspection: unquote('"\\e961"');
$osm-veterinary: unquote('"\\e962"');
$osm-video_games: unquote('"\\e963"');
$osm-video: unquote('"\\e964"');
$osm-viewpoint: unquote('"\\e965"');
$osm-waste_basket: unquote('"\\e966"');
$osm-waste_disposal: unquote('"\\e967"');
$osm-water_park: unquote('"\\e968"');
$osm-water_tower: unquote('"\\e969"');
$osm-waterfall: unquote('"\\e96a"');
$osm-wilderness_hut: unquote('"\\e96b"');
$osm-windmill: unquote('"\\e96c"');
$osm-alcohol: unquote('"\\e96d"');
$osm-alpine_hut: unquote('"\\e96e"');
$osm-amusement_arcade: unquote('"\\e96f"');
$osm-apartment: unquote('"\\e970"');
$osm-archaeological_site: unquote('"\\e972"');
$osm-art: unquote('"\\e973"');
$osm-arts_centre: unquote('"\\e974"');
$osm-artwork: unquote('"\\e975"');
$osm-atm: unquote('"\\e976"');
$osm-audioguide: unquote('"\\e977"');
$osm-bag: unquote('"\\e978"');
$osm-bakery: unquote('"\\e979"');
$osm-bank: unquote('"\\e97a"');
$osm-bar: unquote('"\\e97b"');
$osm-bbq: unquote('"\\e97c"');
$osm-beach_resort: unquote('"\\e97d"');
$osm-beauty: unquote('"\\e97e"');
$osm-bed: unquote('"\\e97f"');
$osm-bell_tower: unquote('"\\e980"');
$osm-bench: unquote('"\\e981"');
$osm-beverages: unquote('"\\e982"');
$osm-bicycle_parking: unquote('"\\e983"');
$osm-bicycle_repair_station: unquote('"\\e984"');
$osm-bicycle: unquote('"\\e985"');
$osm-bicycle_rentalsvg: unquote('"\\e985"');
$osm-biergarten: unquote('"\\e986"');
$osm-bird_hide: unquote('"\\e987"');
$osm-board: unquote('"\\e988"');
$osm-boat_rental: unquote('"\\e989"');
$osm-bookmaker: unquote('"\\e98a"');
$osm-bowling_alley: unquote('"\\e98b"');
$osm-bureau_de_change: unquote('"\\e98c"');
$osm-bus_stop: unquote('"\\e98d"');
$osm-tram_stop: unquote('"\\e98d"');
$osm-bust: unquote('"\\e98e"');
$osm-butcher: unquote('"\\e98f"');
$osm-cafe: unquote('"\\e990"');
$osm-camping: unquote('"\\e991"');
$osm-campsite: unquote('"\\e991"');
$osm-car_parts: unquote('"\\e992"');
$osm-car_repair: unquote('"\\e993"');
$osm-car_wash: unquote('"\\e994"');
$osm-car: unquote('"\\e995"');
$osm-caravan_park: unquote('"\\e996"');
$osm-carpet: unquote('"\\e997"');
$osm-curtain: unquote('"\\e997"');
$osm-household_linen: unquote('"\\e997"');
$osm-casino: unquote('"\\e998"');
$osm-castle: unquote('"\\e999"');
$osm-cave: unquote('"\\e99a"');
$osm-cave_entrance: unquote('"\\e99a"');
$osm-adit: unquote('"\\e99a"');
$osm-chalet: unquote('"\\e99b"');
$osm-charging_station: unquote('"\\e99c"');
$osm-charity: unquote('"\\e99d"');
$osm-chemist: unquote('"\\e99e"');
$osm-chimney: unquote('"\\e99f"');
$osm-cinema: unquote('"\\e9a0"');
$osm-city_gate: unquote('"\\e9a1"');
$osm-sally_port: unquote('"\\e9a1"');
$osm-clothes: unquote('"\\e9a2"');
$osm-clothing-store: unquote('"\\e9a3"');
$osm-coffee: unquote('"\\e9a4"');
$osm-college: unquote('"\\e9a5"');
$osm-communications_tower: unquote('"\\e9a6"');
$osm-community_centre: unquote('"\\e9a7"');
$osm-computer: unquote('"\\e9a8"');
$osm-confectionery: unquote('"\\e9a9"');
$osm-pastry: unquote('"\\e9a9"');
$osm-convenience: unquote('"\\e9aa"');
$osm-copyshop: unquote('"\\e9ab"');
$osm-courthouse: unquote('"\\e9ac"');
$osm-crane: unquote('"\\e9ad"');
$osm-cross: unquote('"\\e9ae"');
$osm-dairy: unquote('"\\e9af"');
$osm-cheese: unquote('"\\e9af"');
$osm-deli: unquote('"\\e9b0"');
$osm-nutrition_supplements: unquote('"\\e9b0"');
$osm-dentist: unquote('"\\e9b1"');
$osm-department_store: unquote('"\\e9b2"');
$osm-diy: unquote('"\\e9b3"');
$osm-doctors: unquote('"\\e9b4"');
$osm-drinking_water: unquote('"\\e9b5"');
$osm-electronics: unquote('"\\e9b6"');
$osm-embassy: unquote('"\\e9b7"');
$osm-emergency_phone: unquote('"\\e9b8"');
$osm-entrance: unquote('"\\e9b9"');
$osm-excrement_bags: unquote('"\\e9ba"');
$osm-fabric: unquote('"\\e9bb"');
$osm-sewing: unquote('"\\e9bb"');
$osm-fast_food: unquote('"\\e9bc"');
$osm-ferry: unquote('"\\e9bd"');
$osm-ferry_terminal: unquote('"\\e9bd"');
$osm-firepit: unquote('"\\e9be"');
$osm-firestation: unquote('"\\e9bf"');
$osm-fishing: unquote('"\\e9c0"');
$osm-fitness: unquote('"\\e9c1"');
$osm-sports_centre: unquote('"\\e9c1"');
$osm-florist: unquote('"\\e9c2"');
$osm-ford: unquote('"\\e9c3"');
$osm-fort: unquote('"\\e9c4"');
$osm-fortress: unquote('"\\e9c5"');
$osm-fountain: unquote('"\\e9c6"');
$osm-fuel: unquote('"\\e9c7"');
$osm-furniture: unquote('"\\e9c8"');
$osm-garden_centre: unquote('"\\e9c9"');
$osm-gate: unquote('"\\e9ca"');
$osm-generator_wind: unquote('"\\e9cb"');
$osm-gift: unquote('"\\e9cc"');
$osm-golf: unquote('"\\e9cd"');
$osm-greengrocer: unquote('"\\e9ce"');
$osm-grocery: unquote('"\\e9cf"');
$osm-guest_house: unquote('"\\e9d0"');
$osm-guidepost: unquote('"\\e9d1"');
$osm-hairdresser: unquote('"\\e9d2"');
$osm-hifi: unquote('"\\e9d3"');
$osm-hospital: unquote('"\\e9d4"');
$osm-hostel: unquote('"\\e9d5"');
$osm-hotel: unquote('"\\e9d6"');
$osm-houseware: unquote('"\\e9d7"');
$osm-hunting_stand: unquote('"\\e9d8"');
$osm-ice_cream: unquote('"\\e9d9"');
$osm-information: unquote('"\\e9da"');
$osm-interior_decoration: unquote('"\\e9db"');
$osm-internet_cafe: unquote('"\\e9dc"');
$osm-jewelry-store: unquote('"\\e9dd"');
$osm-jewelry: unquote('"\\e9de"');
$osm-laundry: unquote('"\\e9df"');
$osm-library: unquote('"\\e9e0"');
$osm-lighthouse: unquote('"\\e9e1"');
$osm-manor: unquote('"\\e9e2"');
$osm-map: unquote('"\\e9e3"');
$osm-marketplace: unquote('"\\e9e4"');
$osm-massage: unquote('"\\e9e5"');
$osm-mast_communications: unquote('"\\e9e6"');
$osm-mast_lighting: unquote('"\\e9e7"');
$osm-mast: unquote('"\\e9e8"');
$osm-medical_supply: unquote('"\\e9e9"');
$osm-memorial: unquote('"\\e9ea"');
$osm-funeral_directors: unquote('"\\e9ea"');
$osm-miniature_golf: unquote('"\\e9eb"');
$osm-mobile_phone: unquote('"\\e9ec"');
$osm-monument: unquote('"\\e9ed"');
$osm-motel: unquote('"\\e9ee"');
$osm-motorcycle_parking: unquote('"\\e9ef"');
$osm-museum: unquote('"\\e9f0"');
$osm-music: unquote('"\\e9f1"');
$osm-musical_instrument: unquote('"\\e9f2"');
$osm-newsagent: unquote('"\\e9f3"');
$osm-nightclub: unquote('"\\e9f4"');
$osm-obelisk: unquote('"\\e9f5"');
$osm-office: unquote('"\\e9f6"');
$osm-oneway-reverse: unquote('"\\e9f7"');
$osm-oneway: unquote('"\\e9f8"');
$osm-optician: unquote('"\\e9f9"');
$osm-outdoor_seating: unquote('"\\e9fa"');
$osm-outdoor: unquote('"\\e9fb"');
$osm-symbol-white_foot: unquote('"\\e9fb"');
$osm-paint: unquote('"\\e9fc"');
$osm-palace: unquote('"\\e9fd"');
$osm-park: unquote('"\\e9fe"');
$osm-park-alt1: unquote('"\\e9ff"');
$osm-parking_entrance_multistorey: unquote('"\\ea00"');
$osm-parking_entrance_underground: unquote('"\\ea01"');
$osm-parking_tickets: unquote('"\\ea02"');
$osm-parking: unquote('"\\ea03"');
$osm-peak: unquote('"\\ea04"');
$osm-collecting: unquote('"\\ea86"');
$osm-frame: unquote('"\\ea87"');
$osm-droplet: unquote('"\\ea94"');
$osm-games: unquote('"\\ea88"');
$osm-escape_game: unquote('"\\ea88"');
$osm-printer_ink: unquote('"\\ea89"');
$osm-locksmith: unquote('"\\ea8a"');
$osm-flag-checkered: unquote('"\\ea7b"');
$osm-bathroom_furnishing: unquote('"\\ea8c"');
$osm-herbalist: unquote('"\\ea8d"');

