$icomoon-font-family: "osm" !default;
$icomoon-font-path: "fonts" !default;

$osm-collecting: "\ea86";
$osm-frame: "\ea87";
$osm-games: "\ea88";
$osm-escape_game: "\ea88";
$osm-printer_ink: "\ea89";
$osm-locksmith: "\ea8a";
$osm-pastry: "\ea8b";
$osm-bathroom_furnishing: "\ea8c";
$osm-herbalist: "\ea8d";
$osm-baby_goods: "\ea8e";
$osm-subway: "\ea83";
$osm-subway_entrance: "\ea83";
$osm-post_jp: "\e90c";
$osm-post: "\e90e";
$osm-racetrack_boat: "\e90f";
$osm-racetrack_cycling: "\e910";
$osm-racetrack_horse: "\e971";
$osm-racetrack: "\ea05";
$osm-rail_light: "\ea06";
$osm-rail_metro: "\ea07";
$osm-rail: "\ea08";
$osm-railway: "\ea08";
$osm-ranger_station: "\ea09";
$osm-religious_buddhist: "\ea0a";
$osm-religious_christian: "\ea0b";
$osm-christian: "\ea0b";
$osm-religious_jewish: "\ea0c";
$osm-jewish: "\ea0c";
$osm-religious_muslim: "\ea0d";
$osm-muslim: "\ea0d";
$osm-religious_shinto: "\ea0e";
$osm-shinto: "\ea0e";
$osm-residential_community: "\ea0f";
$osm-restaurant_bbq: "\ea10";
$osm-restaurant_noodle: "\ea11";
$osm-restaurant_pizza: "\ea12";
$osm-restaurant_seafood: "\ea13";
$osm-restaurant_sushi: "\ea14";
$osm-road_accident: "\ea15";
$osm-roadblock: "\ea16";
$osm-rocket: "\ea17";
$osm-hackerspace: "\ea17";
$osm-school_jp: "\ea18";
$osm-scooter: "\ea19";
$osm-shoe: "\ea1a";
$osm-shop: "\ea1b";
$osm-skateboard: "\ea1c";
$osm-skiing: "\ea1d";
$osm-slaughterhouse: "\ea1e";
$osm-snowmobile: "\ea1f";
$osm-soccer: "\ea20";
$osm-square_stroked: "\ea21";
$osm-square: "\ea22";
$osm-stadium: "\ea23";
$osm-star_stroked: "\ea24";
$osm-star: "\ea25";
$osm-suitcase: "\ea26";
$osm-swimming: "\ea27";
$osm-table_tennis: "\ea28";
$osm-teahouse: "\ea29";
$osm-tennis: "\ea2a";
$osm-toilet: "\ea2b";
$osm-town: "\ea2c";
$osm-triangle_stroked: "\ea2d";
$osm-triangle: "\ea2e";
$osm-village: "\ea2f";
$osm-volcano: "\ea30";
$osm-volleyball: "\ea31";
$osm-warehouse: "\ea32";
$osm-aerialway: "\ea33";
$osm-airfield: "\ea34";
$osm-airport: "\ea35";
$osm-alcohol_shop: "\ea36";
$osm-american_football: "\ea37";
$osm-amusement_park: "\ea38";
$osm-theme_park: "\ea38";
$osm-aquarium: "\ea39";
$osm-arrow: "\ea3a";
$osm-art_gallery: "\ea3b";
$osm-attraction: "\ea3c";
$osm-bank_jp: "\ea3d";
$osm-barrier: "\ea3e";
$osm-baseball: "\ea3f";
$osm-basketball: "\ea40";
$osm-beach: "\ea41";
$osm-beer: "\ea42";
$osm-bicycle_share: "\ea43";
$osm-blood_bank: "\ea44";
$osm-bridge: "\ea45";
$osm-building_alt1: "\ea46";
$osm-building: "\ea47";
$osm-bus: "\ea48";
$osm-campsite1: "\ea49";
$osm-car_rental: "\ea4a";
$osm-castle_jp: "\ea4b";
$osm-caution: "\ea4c";
$osm-cemetery_jp: "\ea4d";
$osm-cemetery: "\ea4e";
$osm-circle_stroked: "\ea4f";
$osm-circle: "\ea50";
$osm-city: "\ea51";
$osm-clothing_store: "\ea52";
$osm-college_jp: "\ea53";
$osm-commercial: "\ea54";
$osm-construction: "\ea55";
$osm-cricket: "\ea56";
$osm-dam: "\ea57";
$osm-danger: "\ea58";
$osm-defibrillator: "\ea59";
$osm-diamond: "\ea5a";
$osm-doctor: "\ea5b";
$osm-dog_park: "\ea5c";
$osm-elevator: "\ea5d";
$osm-entrance_alt1: "\ea5e";
$osm-farm: "\ea5f";
$osm-fence: "\ea60";
$osm-ferry_jp: "\ea61";
$osm-fire_station_jp: "\ea62";
$osm-fire_station: "\ea63";
$osm-fitness_centre: "\ea64";
$osm-gaming: "\ea65";
$osm-garden: "\ea66";
$osm-globe: "\ea67";
$osm-diplomatic: "\ea67";
$osm-harbor: "\ea68";
$osm-hardware: "\ea69";
$osm-heart: "\ea6a";
$osm-heliport: "\ea6b";
$osm-highway_rest_area: "\ea6c";
$osm-home: "\ea6d";
$osm-horse_riding: "\ea6e";
$osm-hospital_jp: "\ea6f";
$osm-hot_spring: "\ea70";
$osm-industry: "\ea71";
$osm-jewelry_store: "\ea72";
$osm-karaoke: "\ea73";
$osm-landmark_jp: "\ea74";
$osm-landmark: "\ea75";
$osm-landuse: "\ea76";
$osm-lighthouse_jp: "\ea77";
$osm-lodging: "\ea78";
$osm-logging: "\ea79";
$osm-marker_stroked: "\ea7a";
$osm-marker: "\ea7b";
$osm-monument_jp: "\ea7c";
$osm-mountain: "\ea7d";
$osm-natural: "\ea7e";
$osm-observation_tower: "\ea7f";
$osm-park_alt1: "\ea80";
$osm-parking_garage: "\ea81";
$osm-picnic_site: "\ea82";
$osm-police_jp: "\ea84";
$osm-climbing: "\ea85";
$osm-perfumery: "\e900";
$osm-pet: "\e901";
$osm-pharmacy: "\e902";
$osm-photo: "\e903";
$osm-picnic: "\e904";
$osm-place_of_worship: "\e905";
$osm-plaque: "\e906";
$osm-playground: "\e907";
$osm-police: "\e908";
$osm-post_box: "\e909";
$osm-post_office: "\e90a";
$osm-power_tower_small: "\e90b";
$osm-power_tower: "\e90d";
$osm-prison: "\e911";
$osm-pub: "\e912";
$osm-public_bath: "\e913";
$osm-public_bookcase: "\e914";
$osm-public_transport_tickets: "\e915";
$osm-recycling: "\e916";
$osm-rental_bicycle: "\e917";
$osm-rental_car: "\e918";
$osm-restaurant: "\e919";
$osm-saddle: "\e91a";
$osm-sauna: "\e91b";
$osm-school: "\e91c";
$osm-seafood: "\e91d";
$osm-second_hand: "\e91e";
$osm-shelter: "\e91f";
$osm-shoes: "\e920";
$osm-shower: "\e921";
$osm-shrine: "\e922";
$osm-slipway: "\e923";
$osm-social_facility: "\e924";
$osm-sports: "\e925";
$osm-pitch: "\e925";
$osm-spring: "\e926";
$osm-stationery: "\e927";
$osm-statue: "\e928";
$osm-stone: "\e929";
$osm-rock: "\e929";
$osm-storage_tank: "\e92a";
$osm-supermarket: "\e92b";
$osm-mall: "\e92b";
$osm-symbol-arch: "\e92c";
$osm-symbol-backslash: "\e92d";
$osm-symbol-bar: "\e92e";
$osm-symbol-circle: "\e92f";
$osm-symbol-corner: "\e930";
$osm-symbol-cross: "\e931";
$osm-symbol-diamond_line: "\e932";
$osm-symbol-diamond: "\e933";
$osm-symbol-dot: "\e934";
$osm-symbol-fork: "\e935";
$osm-symbol-hexagon: "\e936";
$osm-symbol-hiker: "\e937";
$osm-symbol-lower: "\e938";
$osm-symbol-pointer: "\e939";
$osm-symbol-rectangle_line: "\e93a";
$osm-symbol-rectangle: "\e93b";
$osm-symbol-right: "\e93c";
$osm-symbol-shell_modern: "\e93d";
$osm-symbol-shell: "\e93e";
$osm-symbol-slash: "\e93f";
$osm-symbol-stripe: "\e940";
$osm-symbol-triangle_line: "\e941";
$osm-symbol-triangle_turned: "\e942";
$osm-symbol-triangle: "\e943";
$osm-symbol-turned_t: "\e944";
$osm-symbol-wheel: "\e945";
$osm-symbol-x: "\e946";
$osm-taxi: "\e947";
$osm-tea: "\e948";
$osm-telephone: "\e949";
$osm-phone: "\e949";
$osm-telescope_dish: "\e94a";
$osm-telescope_dome: "\e94b";
$osm-terminal: "\e94c";
$osm-theatre: "\e94d";
$osm-tobacco: "\e94e";
$osm-e-cigarette: "\e94e";
$osm-toilets: "\e94f";
$osm-tower_cantilever_communication: "\e950";
$osm-tower_cooling: "\e951";
$osm-tower_defensive: "\e952";
$osm-tower_dish: "\e953";
$osm-tower_dome: "\e954";
$osm-tower_generic: "\e955";
$osm-tower_lattice_communication: "\e956";
$osm-tower_lattice_lighting: "\e957";
$osm-tower_lattice: "\e958";
$osm-tower_lighting: "\e959";
$osm-tower_observation: "\e95a";
$osm-town_hall: "\e95b";
$osm-toys: "\e95c";
$osm-model: "\e95c";
$osm-trade: "\e95d";
$osm-travel_agency: "\e95e";
$osm-tyres: "\e95f";
$osm-variety_store: "\e960";
$osm-vehicle_inspection: "\e961";
$osm-veterinary: "\e962";
$osm-video_games: "\e963";
$osm-video: "\e964";
$osm-viewpoint: "\e965";
$osm-waste_basket: "\e966";
$osm-waste_disposal: "\e967";
$osm-water_park: "\e968";
$osm-water_tower: "\e969";
$osm-waterfall: "\e96a";
$osm-wilderness_hut: "\e96b";
$osm-windmill: "\e96c";
$osm-alcohol: "\e96d";
$osm-alpine_hut: "\e96e";
$osm-amusement_arcade: "\e96f";
$osm-apartment: "\e970";
$osm-archaeological_site: "\e972";
$osm-art: "\e973";
$osm-arts_centre: "\e974";
$osm-artwork: "\e975";
$osm-atm: "\e976";
$osm-audioguide: "\e977";
$osm-bag: "\e978";
$osm-bakery: "\e979";
$osm-bank: "\e97a";
$osm-bar: "\e97b";
$osm-bbq: "\e97c";
$osm-beach_resort: "\e97d";
$osm-beauty: "\e97e";
$osm-bed: "\e97f";
$osm-bell_tower: "\e980";
$osm-bench: "\e981";
$osm-beverages: "\e982";
$osm-bicycle_parking: "\e983";
$osm-bicycle_repair_station: "\e984";
$osm-bicycle: "\e985";
$osm-bicycle_rentalsvg: "\e985";
$osm-biergarten: "\e986";
$osm-bird_hide: "\e987";
$osm-board: "\e988";
$osm-boat_rental: "\e989";
$osm-bookmaker: "\e98a";
$osm-bowling_alley: "\e98b";
$osm-bureau_de_change: "\e98c";
$osm-bus_stop: "\e98d";
$osm-tram_stop: "\e98d";
$osm-bust: "\e98e";
$osm-butcher: "\e98f";
$osm-cafe: "\e990";
$osm-camping: "\e991";
$osm-campsite: "\e991";
$osm-car_parts: "\e992";
$osm-car_repair: "\e993";
$osm-car_wash: "\e994";
$osm-car: "\e995";
$osm-caravan_park: "\e996";
$osm-carpet: "\e997";
$osm-curtain: "\e997";
$osm-household_linen: "\e997";
$osm-casino: "\e998";
$osm-castle: "\e999";
$osm-cave: "\e99a";
$osm-cave_entrance: "\e99a";
$osm-adit: "\e99a";
$osm-chalet: "\e99b";
$osm-charging_station: "\e99c";
$osm-charity: "\e99d";
$osm-chemist: "\e99e";
$osm-chimney: "\e99f";
$osm-cinema: "\e9a0";
$osm-city_gate: "\e9a1";
$osm-sally_port: "\e9a1";
$osm-clothes: "\e9a2";
$osm-clothing-store: "\e9a3";
$osm-coffee: "\e9a4";
$osm-college: "\e9a5";
$osm-communications_tower: "\e9a6";
$osm-community_centre: "\e9a7";
$osm-computer: "\e9a8";
$osm-confectionery: "\e9a9";
$osm-convenience: "\e9aa";
$osm-copyshop: "\e9ab";
$osm-courthouse: "\e9ac";
$osm-crane: "\e9ad";
$osm-cross: "\e9ae";
$osm-dairy: "\e9af";
$osm-cheese: "\e9af";
$osm-deli: "\e9b0";
$osm-nutrition_supplements: "\e9b0";
$osm-dentist: "\e9b1";
$osm-department_store: "\e9b2";
$osm-diy: "\e9b3";
$osm-doctors: "\e9b4";
$osm-drinking_water: "\e9b5";
$osm-electronics: "\e9b6";
$osm-embassy: "\e9b7";
$osm-emergency_phone: "\e9b8";
$osm-entrance: "\e9b9";
$osm-excrement_bags: "\e9ba";
$osm-fabric: "\e9bb";
$osm-sewing: "\e9bb";
$osm-fast_food: "\e9bc";
$osm-ferry: "\e9bd";
$osm-ferry_terminal: "\e9bd";
$osm-firepit: "\e9be";
$osm-firestation: "\e9bf";
$osm-fishing: "\e9c0";
$osm-fitness: "\e9c1";
$osm-sports_centre: "\e9c1";
$osm-florist: "\e9c2";
$osm-ford: "\e9c3";
$osm-fort: "\e9c4";
$osm-fortress: "\e9c5";
$osm-fountain: "\e9c6";
$osm-fuel: "\e9c7";
$osm-furniture: "\e9c8";
$osm-garden_centre: "\e9c9";
$osm-gate: "\e9ca";
$osm-generator_wind: "\e9cb";
$osm-gift: "\e9cc";
$osm-golf: "\e9cd";
$osm-greengrocer: "\e9ce";
$osm-grocery: "\e9cf";
$osm-guest_house: "\e9d0";
$osm-guidepost: "\e9d1";
$osm-hairdresser: "\e9d2";
$osm-hifi: "\e9d3";
$osm-hospital: "\e9d4";
$osm-hostel: "\e9d5";
$osm-hotel: "\e9d6";
$osm-houseware: "\e9d7";
$osm-hunting_stand: "\e9d8";
$osm-ice_cream: "\e9d9";
$osm-information: "\e9da";
$osm-interior_decoration: "\e9db";
$osm-internet_cafe: "\e9dc";
$osm-jewelry-store: "\e9dd";
$osm-jewelry: "\e9de";
$osm-laundry: "\e9df";
$osm-library: "\e9e0";
$osm-lighthouse: "\e9e1";
$osm-manor: "\e9e2";
$osm-map: "\e9e3";
$osm-marketplace: "\e9e4";
$osm-massage: "\e9e5";
$osm-mast_communications: "\e9e6";
$osm-mast_lighting: "\e9e7";
$osm-mast: "\e9e8";
$osm-medical_supply: "\e9e9";
$osm-memorial: "\e9ea";
$osm-miniature_golf: "\e9eb";
$osm-mobile_phone: "\e9ec";
$osm-monument: "\e9ed";
$osm-motel: "\e9ee";
$osm-motorcycle_parking: "\e9ef";
$osm-museum: "\e9f0";
$osm-music: "\e9f1";
$osm-musical_instrument: "\e9f2";
$osm-newsagent: "\e9f3";
$osm-nightclub: "\e9f4";
$osm-obelisk: "\e9f5";
$osm-office: "\e9f6";
$osm-oneway-reverse: "\e9f7";
$osm-oneway: "\e9f8";
$osm-optician: "\e9f9";
$osm-outdoor_seating: "\e9fa";
$osm-outdoor: "\e9fb";
$osm-symbol-white_foot: "\e9fb";
$osm-paint: "\e9fc";
$osm-palace: "\e9fd";
$osm-park: "\e9fe";
$osm-park-alt1: "\e9ff";
$osm-parking_entrance_multistorey: "\ea00";
$osm-parking_entrance_underground: "\ea01";
$osm-parking_tickets: "\ea02";
$osm-parking: "\ea03";
$osm-peak: "\ea04";

