$icomoon-font-family: "alpimaps" !default;
$icomoon-font-path: "fonts" !default;

$icon-directions_walk: "\e910";
$icon-paper-plane-o: "\e90d";
$icon-send-o: "\e90d";
$icon-paper-plane: "\e90e";
$icon-send: "\e90e";
$icon-flag-checkered: "\e90c";
$icon-angle2: "\e917";
$icon-angle: "\e918";
$icon-mountain-biking: "\e911";
$icon-enduro: "\e912";
$icon-gravel: "\e913";
$icon-hiking: "\e914";
$icon-mountainairing: "\e915";
$icon-road-cycling: "\e916";
$icon-running: "\e919";
$icon-touring: "\e91a";
$icon-compass-calibrate: "\e90f";
$icon-change_left: "\e900";
$icon-change_right: "\e901";
$icon-left-arrow: "\e902";
$icon-left-turn-1: "\e903";
$icon-left-turn: "\e904";
$icon-right-arrow: "\e905";
$icon-right-turn-1: "\e906";
$icon-right-turn: "\e907";
$icon-roundabout: "\e908";
$icon-u-turn-no: "\e909";
$icon-u-turn: "\e90a";
$icon-up-arrow: "\e90b";

