# NativeScript application
hooks
platforms
node_modules/

Gemfile.lock
certs
/package-lock.json
/report
/times.html
pnpm-lock.yaml
*.js.map
e2e/**/*.js
/mochawesome-report
/fastlane/report.xml
/gpx
/dist
/Gemfile.lock
firmware
firmwares
**/src/main/res/values*/strings.xml
**/iOS/*.lproj/Localizable.strings
**/iOS/*.lproj/InfoPlist.strings

# NativeScript Template
!webpack.config.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
.env*
.yarn
yarn.lock
tmp/


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/i18n-ally-custom-framework.yml
/.sentryclirc
*.zip
dist
/geojson
.gradle
.history
/app/assets/peakfinder/webapp.js
/.vscode/settings.json
app/assets/peakfinder/webapp.js.LICENSE.txt
API_KEYS.js
app/assets/**/*.css
dev_assets/styles/osmxml_cleaned/*.xml
dev_assets/styles/inner_cleaned/*.xml
timeline*.json
times*.html
dev_assets/styles/mobile-sdk-styles
/dev_assets/styles/base/fonts/osm.ttf
/dev_assets/styles/inner_cleaned/fonts/materialdesignicons-webfont.ttf
