# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms

certs
/.vscode/settings.json
/API_KEYS.ts
report/
*.html
package-lock.json
/.env.default
/fastlane/report.xml
pnpm-lock.yaml
/app/assets/webapp.js
/app/assets/webapp.js.LICENSE.txt
