<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>467076286475-dhhr7qib78bjjaln95uk9vu1e2q0v1vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467076286475-dhhr7qib78bjjaln95uk9vu1e2q0v1vn</string>
	<key>API_KEY</key>
	<string>AIzaSyCF3kHRfUiCHGi1DSNn_mUdQ4L5n9TVf6k</string>
	<key>GCM_SENDER_ID</key>
	<string>467076286475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akylas.alpi.maps</string>
	<key>PROJECT_ID</key>
	<string>mini2-smartapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mini2-smartapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467076286475:ios:ed24fd7c08dd6386</string>
	<key>DATABASE_URL</key>
	<string>https://mini2-smartapp.firebaseio.com</string>
</dict>
</plist>