@import './variables';
@import './animations';

// .lato {
//     font-family: 'Lato Regular', 'res/lato';
// }

%mdi {
    font-family: $mdi-fontFamily;
}
%alpimaps {
    font-family: $alpimaps-fontFamily;
}

%icon-btn {
    ripple-color: gray;
    color: $text-color-light;
    .ns-dark & {
        color: $text-color-dark;
        ripple-color: $text-color-dark;
    }
    width: $actionbar-button-height;
    height: $actionbar-button-height;
    font-size: 24;
}
.mdi {
    @extend %mdi;
}

.alpimaps {
    @extend %alpimaps;
}

page {
    status-bar-style: dark;
    navigation-bar-color: transparent;
    status-bar-color: transparent;
    background-color: $text-color-dark;

    .ns-dark &,
    &.ns-dark {
        background-color: #1c1c1e;
    }
}
htmllabel,
canvaslabel,
label,
mdbutton,
checkbox,
button {
    color: $text-color-light;
    .ns-dark & {
        color: $text-color-dark;
    }
}
mdbutton,
button {
    ripple-color: $text-color-light;
    .ns-dark & {
        ripple-color: $text-color-dark;
    }
}
mdbutton[variant=text] {
    padding:0;
}
mdtextfield,
textfield {
    color: $text-color-light;
    backgroundcolor-color: $text-color-dark;
    placeholder-color: gray;
    .ns-dark & {
        color: $text-color-dark;
        backgroundcolor-color: $text-color-light;
        placeholder-color: lightgray;
    }
}
.textRipple {
    ripple-color: $text-color-light;
    .ns-dark & {
        ripple-color: $text-color-dark;
    }
}
.subtitle {
    color: #888888;
    .ns-dark & {
        color: #aaaaaa;
    }
}

mdbutton,
mdcardview {
    shape: round;
}

.buttonthemed {
    background-color: $primary-color;
    color: $text-color-dark;
}
.buttontext {
    background-color: $text-color-dark;
    color: $primary-color;
    ripple-color: $dark-color;
}

.maki {
    font-family: 'maki';
}

.osm {
    font-family: 'osm';
}

.small-icon-btn {
    @extend %mdi;
    @extend %icon-btn;
    width: 30;
    height: 30;
    font-size: 16;
}

.icon-btn-white {
    @extend %mdi;
    @extend %icon-btn;
    color: $text-color-dark;
    ripple-color: $text-color-dark;
}

.icon-btn-text {
    @extend %mdi;
    @extend %icon-btn;
    color: $primary-color;
    ripple-color: $dark-color;
}
.icon-btn-text[isEnabled='false'] {
    background-color: lightGray;
    color: gray;
}

.floating-btn {
    @extend %mdi;
    color: white;
    elevation: 6;
    font-size: 24;
    padding: 0;
    margin: 8;
    width: 54;
    height: 54;
}
.small-floating-btn {
    @extend %mdi;
    @extend .buttontext;
    elevation: 3;
    dynamic-elevation-offset: 3;
    font-size: 24;
    padding: 0;
    width: 40;
    height: 40;
    margin: 8;
}
.section-title {
    font-size: 10;
}

// .menuButtons {
//     padding-left: 12;
//     padding-right: 12;
//     margin-bottom: 10;
// }

.navigationBarOverlay {
    height: $navigation-bar-height;
    width: 100%;
    background-color: #aa000000;
    vertical-alignment: bottom;
}

.actionBar {
    padding-top: $status-bar-height;
    background-color: adjust-color(white, $lightness: -30%);
    .ns-dark & {
        background-color: adjust-color(black, $lightness: 30%);
    }
    height: $actionbar-height + $status-bar-height;
}

.actionBarButton {
    @extend .mdi;
    width: $actionbar-height;
    height: $actionbar-height;
    color: black;
    .ns-dark & {
        color: white;
    }
    margin: 0;
    padding: 0;
    font-size: 32;
}

.actionBarTitle {
    // @extend .lato;
    font-size: 20;
    font-weight: 500;
    color: black;
    .ns-dark & {
        color: white;
    }
}

.actionBarSubtitle {
    font-size: 13;
    color: #ffffff88;
}

.icon-btn {
    @extend %mdi;
    @extend %icon-btn;

    color: $primary-color;
    ripple-color: $primary-color;
}
.icon-label {
    @extend %mdi;
    
    color: $text-color-light;
    .ns-dark & {
        color: $text-color-dark;
    }
    width: $actionbar-button-height;
    height: $actionbar-button-height;
    text-align: center;
    vertical-text-alignment: center;
    font-size: 24;
}

.transitIconLabel {
    border-radius: 4;
    font-weight: bold;
    width: 50;
    height: 50;
    font-size: 20;
    text-align: center;
    vertical-text-alignment: center;
    vertical-alignment: center;
    padding: 8;
}
