@import './app.common';

mdbutton {
    // material3 basic design
    shape: round;
}

htmllabel,
canvasview,
label,
mdtextfield,
mdbutton {
    ios-a11y-adjusts-font-size: true;
    ios-a11y-max-font-scale: 2.5;
}

.ignoreA11yFontScale {
    ios-a11y-adjusts-font-size: false;
}

checkbox {
    off-animation-type: 3;
    on-animation-type: 3;
    on-check-color: var(--colorOnPrimary);
    on-tint-color: var(--colorPrimary);
}

mdswitch {
    on-background-color: var(--colorPrimary)
}


mdslider {
    track-fill-color: var(--colorPrimary);
}

mdcardview {
    // material3 basic design
    shape: medium;
}

.floating-btn {
    ios-a11y-max-font-scale: 2;
    elevation: 2;
}

.small-floating-btn {
    ios-a11y-max-font-scale: 1.5;
    shape: small;
    elevation: 2;
}

mdtextfield[variant=none] {
    padding: 0;
}