@import './variables';
@import './animations';
@import '~nativescript-vue-fab/style';

.lato {
    font-family: 'Lato Regular', 'res/lato';
}

.mdi {
    font-family: $mdi-fontFamily;
}

// label,
// htmllabel,
// canvaslabel,
// button,
// mdtextfield,
// mdbutton {
//     @extend .lato;
// }


page {
    // .ns-light & {
    status-bar-style: dark;
    // navigation-bar-color: #ddd;
    navigation-bar-color: $primary-color;
    status-bar-color: $dark-color;
}

button {
    background-color: transparent;
    color: $primary-color;
}
// label,
canvaslabel,
htmllabel {
    color: $text-color;
}

mdactivityindicator {
    width: 50;
    height: 50;
}

mdbutton {
    background-color: transparent;
    color: $primary-color;
    ripple-color: $dark-color;
}

.cardView {
    border-radius: 2;
    elevation: 1;
    dynamic-elevation-offset: 5;
    ripple-color: $primary-color;
    background-color: white;
}

.buttonwhite {
    background-color: transparent;
    color: white;
    ripple-color: white;
}
.buttonthemed {
    background-color: $primary-color;
    color: white;
    ripple-color: $dark-color;
}
.buttontext {
    background-color: white;
    color: $primary-color;
    ripple-color: $dark-color;
}

.maki {
    font-family: 'maki';
}


.osm {
    font-family: 'osm';
}

.themedBack {
    background-color: $primary-color;
}

.icon-btn {
    @extend .mdi;
    background-color: transparent;
    color: $text-color;
    ripple-color: $text-color;
    width: 44;
    height: 44;
    border-radius: 22;
    font-size: 24;
    margin: 0;
    padding: 0;
}
.small-icon-btn {
    @extend .icon-btn;
    background-color: transparent;
    width: 30;
    height: 30;
    border-radius: 15;
    font-size: 16;
}

.label-icon-btn {
    @extend .mdi;
    color: $text-color;
    font-size: 24;
    margin: 0;
    padding: 0 4 0 4;
}

.icon-btn-white {
    @extend .icon-btn;
    background-color: transparent;
    color: white;
    ripple-color: white;
}
.icon-btn-text {
    @extend .icon-btn;
    background-color: white;
    color: $primary-color;
    ripple-color: $dark-color;
}
.icon-btn-rounded {
    border-radius: 22;
}

.floating-btn {
    @extend .mdi, .buttonthemed;
    elevation: 6;
    dynamicelevationoffset: 6;
    font-size: 24;
    padding: 0;
    margin: 8;
    width: 54;
    height: 54;
    border-radius: 27;
}
.small-floating-btn {
    @extend .mdi, .buttontext;
    color: $primary-color;
    elevation: 3;
    dynamicelevationoffset: 3;
    font-size: 24;
    padding: 0;
    width: 40;
    height: 40;
    margin: 8;
    border-radius: 20;
}
.section-title {
    font-size: 10;
}

.borderBottom {
    border-bottom-color: #eeeeee;
    border-bottom-width: 1;
}

.borderTop {
    border-top-color: #eeeeee;
    border-top-width: 1;
}

.borderRight {
    border-right-color: #eeeeee;
    border-right-width: 1;
}
.borderLeft {
    border-left-color: #eeeeee;
    border-left-width: 1;
}

.fab {
    .fab-item-title {
        background-color: #444;
        vertical-text-alignment: middle;
        border-radius: 6;
        color: white;
    }
    
    .fab-button,
    .fab-item {
        background-color: $primary-color;
        ripple-color: $dark-color;
    }
    .fab-icon,
    .fab-item {
        color: white;
    }
    .fab-backdrop {
        background-color: rgba(0, 0, 0, 0.4);
    }
}


.menuButtons {
    padding-left: 12;
    padding-right: 12;
    margin-bottom: 10;
}

.menu-btn {
    @extend .icon-btn;
    border-radius: 22;
    ripple-color: #b8b7b7;
    color: $accent-color;
}
.menuButtons mdbutton {
    @extend .menu-btn;
}

.details {
    padding: 10;
}

.details-label {
    font-size: 14;
    horizontal-alignment: left;
    vertical-alignment: center;
    text-alignment: left;
    color: white;
}
.details-icon {
    @extend .mdi;
    margin-right: 10;
    color: gray;
}


// .android .overMapWidgets {
//     padding: 0 0 $navigation-bar-height 0;
// }

.navigationBarOverlay {
    height: $navigation-bar-height;
    width: 100%;
    background-color: #88000000;
    vertical-alignment: bottom;
}

// ListItem
.icon-themed-btn {
    @extend .icon-btn;
    ripple-color: $accent-color;
    color: $accent-color;
}