@import './variables';
@import './animations';

.lato {
    font-family: 'Lato Regular', 'res/lato';
}

.mdi {
    font-family: $mdi-fontFamily;
}

// label,
// htmllabel,
// canvaslabel,
// button,
// mdtextfield,
// mdbutton {
//     @extend .lato;
// }

Page {
    status-bar-style: dark;
    navigation-bar-color: $primary-color;
    status-bar-color: $dark-color;
}
canvaslabel,
htmllabel {
    color: $text-color;
}

.buttonwhite {
    background-color: transparent;
    color: white;
    ripple-color: white;
}
.buttonthemed {
    background-color: $primary-color;
    color: white;
    ripple-color: $dark-color;
}
.buttontext {
    background-color: white;
    color: $primary-color;
    ripple-color: $dark-color;
}

.maki {
    font-family: 'maki';
}

.osm {
    font-family: 'osm';
}

.themedBack {
    background-color: $primary-color;
}

.icon-btn {
    @extend .mdi;
    color: $text-color;
    ripple-color: $text-color;
    width: 44;
    height: 44;
    border-radius: 22;
    font-size: 24
}
.small-icon-btn {
    @extend .icon-btn;
    width: 30;
    height: 30;
    border-radius: 15;
    font-size: 16;
}

.label-icon-btn {
    @extend .mdi;
    color: $text-color;
    font-size: 24;
}

.icon-btn-white {
    @extend .icon-btn;
    color: white;
    ripple-color: white;
}
.icon-btn-text {
    @extend .icon-btn;
    background-color: white;
    color: $primary-color;
    ripple-color: $dark-color;
}
.icon-btn-rounded {
    border-radius: 22;
}

.floating-btn {
    @extend .mdi;
    elevation: 6;
    dynamic-elevation-offset: 6;
    font-size: 24;
    padding: 0;
    margin: 8;
    width: 54;
    height: 54;
    border-radius: 27;
}
.small-floating-btn {
    @extend .mdi, .buttontext;
    elevation: 3;
    dynamic-elevation-offset: 3;
    font-size: 24;
    padding: 0;
    width: 40;
    height: 40;
    margin: 8;
    border-radius: 20;
}
.section-title {
    font-size: 10;
}


MDSpeedDialButton, MDSpeedDialItemButton {
    @extend .mdi ;
    // color: white;
}
MDSpeedDialButton {
    // background-color: $primary-color;
}
MDSpeedDialItemTitle {
    background-color: #444;
    vertical-text-alignment: middle;
    border-radius: 6;
    font-size:11;
    color: white;
    padding:6;
}

// .menuButtons {
//     padding-left: 12;
//     padding-right: 12;
//     margin-bottom: 10;
// }

.menu-btn {
    @extend .icon-btn;
    border-radius: 22;
    // ripple-color: #b8b7b7;
    // color: $accent-color;
}
.menuButtons mdbutton {
    @extend .menu-btn;
}

.navigationBarOverlay {
    height: $navigation-bar-height;
    width: 100%;
    background-color: #aa000000;
    vertical-alignment: bottom;
}

// ListItem
.icon-themed-btn {
    @extend .icon-btn;
    ripple-color: $accent-color;
    color: $accent-color;
}
