@import './app.common';

mdbutton {
    // material3 basic design
    shape: round;
}

htmllabel,
canvasview,
label,
mdtextfield,
checkbox,
mdbutton {
    ios-a11y-adjusts-font-size: true;
}


mdslider {
    track-fill-color: var(--colorPrimary);
}

mdcardview {
    // material3 basic design
    shape: medium;
}

.floating-btn {
    elevation: 2;
}

.small-floating-btn {
    shape: small;
    elevation: 2;
}

mdtextfield[variant=none] {
    padding: 0;
}