@import './animations';

.ns-root {
    // --fontScale: 1;
    --colorPrimary: #29B6F6;
    --colorOnPrimary: #ffffff;
    --colorPrimaryContainer: #C6E7FF;
    --colorOnPrimaryContainer: #001E2D;
    --colorSecondary: #4F616D;
    --colorOnSecondary: #FFFFFF;
    --colorSecondaryContainer: #D2E5F4;
    --colorOnSecondaryContainer: #0A1D28;
    --colorTertiary: #62597C;
    --colorOnTertiary: #FFFFFF;
    --colorTertiaryContainer: #E8DEFF;
    --colorOnTertiaryContainer: #1E1735;
    --colorBackground: #FCFCFF;
    --colorOnBackground: #191C1E;
    --colorError: #BA1A1A;
    --colorOnError: #FFFFFF;
    --colorErrorContainer: #FFDAD6;
    --colorOutline: #71787E;
    --colorOutlineVariant: #C1C7CE;
    --colorOnSurfaceDisabled: #00000055;
    --colorSurfaceVariant: #DDE3EA;
    --colorOnSurfaceVariant: #41484D;
    --colorSurface: #FCFCFF;
    --colorOnSurface: #191C1E;
    --colorOnSurfaceInverse: #000000;
    --colorSurfaceContainer: #C2C9BD;
    --popupMenuBackground: #C2C9BD;

    --mdiFontFamily: #{$mdiFontFamily};
    --appFontFamily: #{$appFontFamily};

    --navigationBarHeight: 0;
    --actionBarButtonHeight: 50;
    --actionBarHeight: 60;
}

// .lato {
//     font-family: 'Lato Regular', 'res/lato';
// }

%mdi {
    font-family: $mdiFontFamily;
}

%alpimaps {
    font-family: $appFontFamily;
}

%icon-btn {
    // ripple-color: gray;


    color: var(--colorPrimary);
    ripple-color: var(--colorPrimary);
    // color: var(--colorOnBackground);
    // ripple-color: var(--colorOnPrimary);

    // .ns-dark & {
        // color: var(--colorOnPrimary);
        // ripple-color: var(--colorOnPrimary);
    // }

    width: var(--actionBarButtonHeight);
    height: var(--actionBarButtonHeight);
    font-size: 24;
}

.mdi {
    @extend %mdi;
}

.alpimaps {
    @extend %alpimaps;
}


htmllabel,
canvasview,
label,
mdtextfield,
checkbox,
mdbutton {
    ios-a11y-adjusts-font-size: true;
}

mdtextfield[variant=outline], mdtextfield[variant=fill] {
    color: var(--colorOnSurface);
    stroke-color: var(--colorOutline);
    placeholder-color: var(--colorOutline);
    floating-color: var(--colorOutline);
    floating-inactive-color: var(--colorOutline);
}

checkbox {
    color: var(--colorOnSurface);
    fill-color: var(--colorPrimary);
    on-check-color: var(--colorOnPrimary);
    on-tint-color: var(--colorPrimary);
}

frame {
    background-color: var(--colorBackground);
}

page {
    status-bar-style: dark;
    background-color: var(--colorBackground);
    status-bar-color: var(--colorBackground);

    // .ns-dark &,
    // &.ns-dark {
    //     status-bar-style: dark;
    // }
}

htmllabel,
canvaslabel,
label {
    color: var(--colorOnBackground);

}
// mdbutton {
//     color: var(--colorOnPrimary);
// }

// mdbutton,
// button {
//     ripple-color: var(--colorOnBackground);

//     .ns-dark & {
//         ripple-color: var(--colorOnPrimary);
//     }
// }

// mdbutton {
//     padding: 4 10 4 10;
// }

// mdbutton[variant=text] {
//     padding: 0;
// }



.textRipple {
    ripple-color: var(--colorOnBackground);

    // .ns-dark & {
    //     ripple-color: var(--colorOnPrimary);
    // }
}

.sectionHeader {
    font-size: 15;
    font-weight: bold;
    color: var(--colorPrimary);
    padding: 5 5 5 16;
}

.buttonthemed {
    background-color: var(--colorPrimary);
    color: var(--colorOnPrimary);
    ripple-color: var(--colorOnPrimary);
}

.buttontext {
    background-color: var(--colorBackground);
    color: var(--colorPrimary);
    ripple-color: var(--colorPrimary);
}

.maki {
    font-family: 'maki';
}

.osm {
    font-family: 'osm';
}

.small-icon-btn {
    @extend %mdi;
    @extend %icon-btn;
    width: 30;
    height: 30;
    font-size: 16;
}

.icon-btn-white {
    @extend %mdi;
    @extend %icon-btn;
    color: var(--colorOnPrimary);
    ripple-color: var(--colorOnPrimary);
}

.icon-btn-text {
    @extend %mdi;
    @extend %icon-btn;
    color: var(--colorPrimary);
    ripple-color: var(--colorPrimary);
}

.icon-btn-text[isEnabled='false'] {
    background-color: lightGray;
    color: gray;
}

.floating-btn {
    @extend %mdi;
    shape: medium;
    elevation: 6;
    font-size: 24;
    padding: 0;
    margin: 8;
    width: 54;
    height: 54;
}
.floating-btn-themed {
    @extend .floating-btn;
    background-color: var(--colorPrimaryContainer);
    ripple-color: var(--colorPrimaryContainer);
    color: var(--colorOnPrimaryContainer);
}

.small-floating-btn {
    @extend %mdi;
    @extend .buttontext;
    shape: medium;
    elevation: 3;
    dynamic-elevation-offset: 3;
    font-size: 24;
    padding: 0;
    width: 40;
    height: 40;
    margin: 8;
}

.section-title {
    font-size: 10;
}

.actionBar {
    background-color: var(--colorPrimary);
    &:transparent {
        background-color: transparent;
    }
}

.actionBarButton {
    @extend .mdi;
    width: var(--actionBarHeight);
    height: var(--actionBarHeight);
    // color: black;

    // .ns-dark & {
    color: var(--colorOnPrimary);
    // }

    margin: 0;
    padding: 0;
    font-size: 24;

    &:transparent {
        color: var(--colorOnSurface);
    }
}

.actionBarTitle {
    // @extend .lato;
    font-size: 20;
    font-weight: 500;
    // color: black;

    // .ns-dark & {
        color: var(--colorOnPrimary);
        // }

    &:transparent {
        color: var(--colorOnSurface);
    }
}

.actionBarSubtitle {
    font-size: 13;
    color: var(--colorOnPrimary);

    &:transparent {
        color: var(--colorOnSurface);
    }
}

.icon-btn {
    @extend %mdi;
    @extend %icon-btn;
}

.icon-label {
    @extend %mdi;
    @extend %icon-btn;

    // color: var(--colorOnBackground);

    // .ns-dark & {
    //     color: var(--colorOnPrimary);
    // }

    // width: var(--actionBarButtonHeight);
    // height: var(--actionBarButtonHeight);
    text-align: center;
    vertical-text-alignment: center;
    // font-size: 24;
}

.transitIconLabel {
    border-radius: 4;
    font-weight: bold;
    width: 50;
    height: 50;
    font-size: 20;
    text-align: center;
    vertical-text-alignment: center;
    vertical-alignment: center;
    padding: 8;
}