@import './app.common';

page {
    navigation-bar-color: var(--colorBackground);
    navigation-bar-style: light;

    .ns-dark &,
    .ns-black & {
        navigation-bar-style: dark;
    }
}

.ignoreA11yFontScale {
    android-a11y-adjusts-font-size: false;
}
