$primary-color: #29B6F6;
$accent-color: #29B6F6;
$secondary-color: #294ff6;
$dark-color: #0288D1;
$background-color: #fff;
$text-color-dark: #fff;
$text-color-light: #222;
$disabled-color: #404040;
$actionbar-height: 56;
$actionbar-button-height: 50;