$primary-color: #16afe6;
$dark-color: #0CA3CA;
$background-color: #fff;
$text-color: #262626;
$text-color-sub: #666666;
$disabled-color: #404040;
$actionbar-height: 50;
$actionbar-button-height: 40;

:export {
    primaryColor: $primary-color;
    darkColor: $dark-color;
    backgroundColor: $background-color;
    actionBarHeight: $actionbar-height;
    actionBarButtonHeight: $actionbar-button-height;
  }