

//river styling
#waterway{
	[class=river][zoom>=3],
	[class=riverbank][zoom>=13]{
		line-color: @river;
		line-width: linear([view::zoom], (8, 0.5), (15, 2), (16, 4));
	}
	[class=stream][zoom>=12]{
		line-color: @river; 
		line-width: @stream-width;
	}
	[class=canal][zoom>=12]{
		[brunnel=tunnel] {
			casing/line-color: @tunnel-casing;
			casing/line-width: @canal_width + linear([view::zoom], (12, 0.5), (15, 2));
		}
		line-color: @river; 
		line-width: @canal_width;
		line-dasharray: 2, 2;
	}
	[class=ditch][zoom>=15],
	[class=drain][zoom>=15]{
		line-color: @river;
		line-width: 1.4;
		line-dasharray: 2, 2;
	}
}
#water {
	polygon-fill: @water;
	[class!=ocean]{
		polygon-fill: @water_stroke; 
		polygon-geometry-transform: translate(-0.5, -0.5);
		::inner {
			polygon-fill: @water;
		}
	}
}
