@name: [nuti::lang] ? ([name:[nuti::lang]] ? [name:[nuti::lang]] : ([name:[nuti::fallback_lang]] ? [name:[nuti::fallback_lang]] : [name])) : [name];
Map {
  background-color: @background;
  south-pole-color: @background;
  north-pole-color: @water;
	font-directory: url(fonts/);
}
#landcover['mapnik::geometry_type'=3] {
  [class=tidalflat] {
    polygon-fill: @mud;
  }

  [class=ice] {
      polygon-fill: @glacier;
  }

  [class=farmland][zoom>=14]{
      polygon-fill: @farmland;
      [subclass=vineyard][zoom>=15] {
        polygon-pattern-file: url('symbols/vineyard.png');
      }
      [subclass=orchard][zoom>=15] {
        polygon-pattern-file: url('symbols/orchard.png');
    }
  }
  
  [class=rock][zoom>=5]{
    polygon-fill: @rock;
    [subclass=bare_rock]  {
      [zoom>=13] {
        polygon-pattern-fill: @rock_pattern_fill;
        polygon-pattern-file: @rock_pattern;
      }
    }
    [subclass=scree]{
      polygon-fill: @scree;
      [zoom>=13] {
        polygon-pattern-fill: @scree_pattern_fill;
        polygon-pattern-file: @scree_pattern;
      }
    }
  }
  [class=farmyard][zoom>=10] {
    polygon-fill: @farmyard;
  }
  [class=grass]{
    [subclass=golf_course]::grass,
    [subclass=miniature_golf]::grass{
      polygon-fill: @golf_course;
    }
    [subclass=grassland]::grass,
    [subclass=meadow]::grass,
    [subclass=grass]::grass,
    [subclass=village_green]::grass{
      polygon-fill: @grass; 
    }
    [subclass=park] {
      park/polygon-fill: @park;
    }
    [subclass=garden] {
        polygon-fill: @grass;
    }
    [subclass=heath] {
      polygon-fill: @heath;
    }
    [subclass=fell] {
      polygon-fill: @fell;
    }
    [subclass=scrub] {
      polygon-fill:@scrub;
      [zoom>=14] {
        polygon-pattern-file: @scrub_pattern;
        polygon-pattern-opacity:linear([view::zoom], (14, 1), (17,0.5));
      }
    }
    [subclass=allotments]{
      polygon-fill:@allotments;
      [zoom>=15] {
        polygon-pattern-file: url('symbols/allotments.png');
      }
    }
  }

  [class=sand]::sand{
    polygon-fill: @sand;
  }
  [class=wood]::wood{
    polygon-fill: @forest;
    [zoom>=14] {
      polygon-pattern-file: @forest_pattern;
      polygon-pattern-opacity:linear([view::zoom], (14, 0.5), (16,0.2));
    }
  }

  [class=wetland] {
    [subclass=swamp] {
      polygon-fill: @forest;
    }
    [subclass=bog] {
      polygon-fill: @heath;
    }
  
    [subclass=wet_meadow],
    [subclass=saltmarsh],
    [subclass=marsh] {
        polygon-fill: @grass;
    }
    [zoom>=13] {
      polygon-pattern-file: url('symbols/wetland.png');
    }
  }
}

#landuse {
  [class=residential][zoom>=4][zoom<=10],
  [class=quarter][zoom>=4],
  [class=neighbourhood][zoom>=4][zoom<=10]{
       polygon-fill: @residential; 
  }
  ::top_of_residential {
    [class=recreation_ground][zoom>=14],
    [class=playground][zoom>=15]{
      polygon-fill: @leisure;
    }

    [class=cemetery][zoom>=10]{
        polygon-fill: @cemetery;
    }

    [class=industrial] {
      polygon-fill: @industrial;
    }
    [class=dam][zoom>=13]{
      polygon-fill: @dam_fill;
      line-color: @dam_casing;
      line-width: 1;
    }
    [class=quarry][zoom>=10] {
      polygon-fill: @quarry;
      [zoom>=13] {
        line-width: 0.5;
        line-color: darken(@quarry, 30%);
      }
    }

    [class=commercial]{
      polygon-fill: @commercial; 
      [zoom>=16] {
        line-width: 0.5;
        line-color: darken(@commercial, 20%);
      }
    }

    [class=university] {
      polygon-fill:  @university;
    }
    [class=hospital] {
      polygon-fill:  @hospital;
    }
    [class=college],
    [class=school] {
      polygon-fill:  @school;
    }
    [class=parking][zoom>=14]{
      polygon-fill: @parking;
      [zoom>=15] {
        line-width: 0.3;
        line-color: @parking-outline;
      }
    }

    [class=military][zoom>=13]{
      polygon-pattern-file: url('symbols/military_red_hatch.png');
      polygon-opacity:linear([view::zoom], (13, 0.2), (15,0.1), (17,0));
      line-color: @military;
      line-opacity: 0.24;
      line-width: linear([view::zoom], (13, 1), (15,2));
    }
    [class=zoo][zoom>=17],
    [class=theme_park][zoom>=17] {
      a/line-width: 2;
      a/line-color: @tourism;
      a/line-opacity: 0.5;
      a/line-join: round;
      a/line-cap: round;
      [way_pixels>=60] {
        b/line-width: 6;
        b/line-color: @tourism;
        b/line-opacity: 0.3;
        b/line-join: round;
        b/line-cap: round;
      }
    }
    [class=bus_station][zoom>=15] {
      polygon-fill: @transportation-area;
      line-width: 0.2;
      line-color: saturate(darken(@transportation-area, 40%), 20%);
    }
    [class=stadium] {
      [zoom>=10] {
        polygon-fill: @stadium;
        [zoom>=13] {
          line-width: 0.3;
          line-color: darken(@stadium, 35%);
        }
      }
    }

    [class=track][zoom>=10] {
      polygon-fill: @track;
      [zoom>=15] {
        line-width: 0.5;
        line-color: desaturate(darken(@track, 20%), 10%);
      }
    }

    [class=pitch][zoom>=12]::pitch {
      polygon-fill: @pitch;
      [zoom>=15] {
        line-width: 0.5;
        line-color: desaturate(darken(@pitch, 20%), 10%);
      }
    }
  }
}

#landcover['mapnik::geometry_type'=2] {
  [name!=null] {
    text-name: @name;
    text-face-name: @mont;
    text-fill: @building_label;
    text-size: 9;
    text-placement: line;
    text-wrap-width: 100;
  }  
  [class=rock][subclass=cliff][zoom>=12]::cliff { 
    line-color: @cliff;
    line-width: @cliff-width;
    [zoom>=15] {
      line/line-offset: linear([view::zoom], (15, 0), (16,-2));
      line/line-color: @cliff; 
      line/line-dasharray: 1,8;
      line/line-width: linear([view::zoom], (15, 0), (16,3));
    }
  }
  [class=barrier][zoom>=15] {
		[subclass=citywalls],
		[subclass=city_wall] {
		  line-width:linear([view::zoom], (15, 1), (17, 2),(20,3));
		  line-color: @walls;
    }
		[subclass=retaining_wall] {
      line-width:linear([view::zoom], (16, 0.5), (20,1.5));
      line-opacity:0.6;
			line-color: @walls;
		}
	}
}
#building['nuti::buildings'>0][zoom>=14] {
    ['nuti::buildings'=2][zoom>=17]::3d{
        building-height: [render_height] ? [render_height] : 10;
        building-min-height: [render_min_height];
        building-fill: @building-fill;
        building-fill-opacity: 0.45;
    } 
    
    [zoom>=15] {
      polygon-fill: @building-fill;
      polygon-opacity: @building-opacity;
      line-color: @building-line;
      line-width: @building-line-width;
    }
}

#aeroway['mapnik::geometry_type'=3]{
  [class=aerodrome] {
    polygon-fill: @aeroway;
  }
  [class=apron] {
    polygon-fill: @apron-fill;
  }

}