
#mountain_peak {
	['mapnik::geometry_type'=2] {
		[class=cliff][zoom>=12],
		[zoom>=14] { 
			line-color: @cliff;
			line-width: @cliff-width;
			[class=cliff][zoom>=15] {
			  line/line-offset: linear([view::zoom], (15, 0), (16,-2));
			  line/line-color: @cliff; 
			  line/line-dasharray: 1,8;
			  line/line-width: linear([view::zoom], (15, 0), (16,3));
			}
			[name!=null] {
				text-name: @name;
				text-face-name: @mont;
				text-fill: @building_label;
				text-size: 9;
				text-dy: 1;
				text-placement: line;
			}
		}
	}
	['mapnik::geometry_type'=1][class=peak],
	['mapnik::geometry_type'=1][zoom>=12]{
		// order is important for icon to take precedence over label and respect rank
		::icon {
			placement-priority: 10;
			text-face-name: @osm;
			text-feature-id: [name]+[ele];
			text-size: @peak_icon_width; 
			text-placement: [nuti::markers3d];
			text-name: @peak_icon;
			text-fill: @peak_icon_fill;
			text-halo-fill: @poi_halo;
			text-halo-radius: @poi_halo_radius;
			[class=saddle] {
				text-name: @saddle_icon;
				text-fill: @saddle_icon_fill;
				text-size: @peak_icon_width - 0.000001; 
			}
		}
		::label {
			placement-priority: 9;
			text-name: @name;
			text-feature-id: [name]+[ele];
			[zoom>=10] {
				text-name: @name ?  ( [ele] ? @name  + ', ' +[ele] + 'm': @name): '';
			}
			// text-name: ['mapnik::feature_id'];
			text-face-name: @mont_md;
			text-size: @peak_label_width; 
			text-line-spacing: -1;
			text-placement: [nuti::texts3d];
			text-fill: @peak_label;
			[class="saddle"] {
				text-fill: @sadle_label;
				text-size: @peak_label_width - 0.000001; 
			}
			text-dy: @peak_label_dy; 
			text-wrap-width: @poi_label_wrap_width;
			text-halo-fill: @peak_halo;
			text-halo-radius: @peak_halo_radius;
			// text-min-distance: @peak_text_min_dist;
		}
	}
}

#contour['nuti::contours'>0][zoom>=12][ele>0] {
	[div=10][zoom>=14],
	[div=20][zoom>=14]{
		line-color: @contour_low;
		line-width: @contour_width ;
	}
	[div=100][zoom>=12],
	[div=200][zoom>=12],
	[div=50][zoom>=13][zoom<14],
	[div=50][zoom>=14]{
		line-color: @contour_semi;
		line-width: @contour_width;
	}
	
	[div=1000][zoom>=12],
	[div=500][zoom>=12],
	[div=250][zoom>=13][zoom<14] {
		line-color: @contour;
		line-width: @contour_width ;
	}
	
	[div=1000][zoom>=12],
	[div=500][zoom>=12],
	[div=200][zoom>=14],
	[div=250][zoom>=13][zoom<14],
	[div=100][zoom>=14],
	[div=50][zoom>=15] 
	{
		text-face-name: @mont_md;
		text-name: [ele]+' m';
		text-fill: @contour_label;
		text-spacing: 100;
		text-placement: line;
		text-halo-radius: @contour_halo_radius;
		text-halo-fill: @contour_halo;
		text-size: @contour_label_size;
	}
}
